@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primaryyellow:#f5c71a;
    --secondaryyellow:#fbec5d;
    --primaryblue:#0080ff;
    --secondaryblue:#3333ff;
    --btn-pri-background: #0080ff;
    --btn-pri-border:2rem;
    --btn-pri-padding:1rem 2rem;
    --btn-pri-color:white;

 }
 *{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    scroll-behavior: smooth;
}
.primary-btn{
    background-color: var(--btn-pri-background);
    border-radius: var(--btn-pri-border);
    padding:0.6rem 3rem;
    color:var(--btn-pri-color);
    text-transform: uppercase;
    z-index: 999;

 }




body, html{
height: 100%;
background-color: white;
}
.coming{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 40px;

    color:white;
    height: 100vh;
    width: 100%;
    background-image: url("../images/bg1.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coming a{
    color:white;
}
.test{
    color:blue;
}



.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--primaryyellow);

}

.announcement{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    /* border: red 1px solid; */

}





